﻿@model WebApplication1.Models.MainViewModel
@{
    ViewBag.Title = "Lab1 asp.net app";
}
<style type="text/css">
    th, td {
        padding: 3px 5px;
    }
    #customersDataContainer {
        float: left;
        padding: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }
    #customersTable, #productsTable {
        padding-top: 10px;
    }
    #productsDataContainer {
        float: right;
        padding: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .center-alignment {
        text-align: center;
    }
</style>
<div id="wrapper">
    <div id="customersDataContainer">
        <button id="updateCustomersButton">Загрузить всех клиентов</button>
        <div id="customersTable"></div>
    </div>
    <div id="productsDataContainer">
        <button id="updateProductsButton">Загрузить продукты для клиента</button>
        <input id="inputCustomerID" />
        <div id="productsTable"></div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $('#updateCustomersButton').click(() => {
        $.ajax({
            url: '/Home/Customers/',
            method: 'GET',
            contentType: 'application/json',
            success: function(data) {
                var customersArray = JSON.parse(data);
                var numOfRows = customersArray.length;
                var tableBody = '<table border="1" style="padding: 3px">';
                tableBody += '<tr>';
                tableBody += '<th>ID клиента</th>';
                tableBody += '<th>Имя клиента</th>';
                tableBody += '</tr>';
                for (var i = 0; i < numOfRows; i++) {
                    tableBody += '<tr>';
                    tableBody += '<td class="center-alignment">';
                    tableBody += customersArray[i].CustomerID;
                    tableBody += '</td>';
                    tableBody += '<td>';
                    tableBody += customersArray[i].Name;
                    tableBody += '</td>';
                    tableBody += '</tr>';
                }
                tableBody += '</table>';

                $('#customersTable').html(tableBody);
            },
            error: function (a, b, c) {
                alert("Что-то пошло не так");
            }
        });
    });

    $('#updateProductsButton').click(() => {
        var customerID = parseInt($('#inputCustomerID').val());
        
        if (isNaN(customerID)) {
            alert("Введите число");
            return false;
        }

        $.ajax({
            url: '/Home/Products/' + encodeURIComponent(customerID),
            method: 'GET',
            success: function(data) {
                var productsArray = JSON.parse(data);
                var numOfRows = productsArray.length;
                var tableBody = '<table border="1" style="padding: 3px">';
                tableBody += '<tr>';
                tableBody += '<th>ID продукта</th>';
                tableBody += '<th>Наименование</th>';
                tableBody += '<th>Цена</th>';
                tableBody += '</tr>';
                for (var i = 0; i < numOfRows; i++) {
                    tableBody += '<tr>';
                    tableBody += '<td class="center-alignment">';
                    tableBody += productsArray[i].ProductID;
                    tableBody += '</td>';
                    tableBody += '<td>';
                    tableBody += productsArray[i].Name;
                    tableBody += '</td>';
                    tableBody += '<td class="center-alignment">';
                    tableBody += productsArray[i].Price + " $";
                    tableBody += '</td>';
                    tableBody += '</tr>';
                }
                tableBody += '</table>';

                $('#productsTable').html(tableBody);
            },
            error: function(a, b, c) {
                alert("Что-то пошло не так");
            }
        });
    });
</script>